<app-menu></app-menu>

<br>
<img class="bannerPic" src="../../../assets//pictures/banner.png" alt="benefit">
<br>

<h1 class="textForTittle">{{productsService.categoriesTitle}}</h1>
<hr class="style-one">

<div class="flexboxContainer">
  <div *ngFor="let product of productsService.displayProductList">
    <div class="row">
      <div class="flexboxItem">
        <div class="picturecontainer">
          <img src="{{product.image}}" class="picture" alt="">
        </div>
        <div class="centerEverything">
          <h4 class="letter">{{product.name}}</h4>
          <h4>{{product.price | currency}}</h4>
          <h4>Quantity: {{product.quantity}}</h4>

          <!-- <input type="number" class="numberButton" min="0" max="10" > -->
          <br>
          <button class="button1" (click)="productsService.clickProduct(product.id)">Add to cart</button>

        </div>
      </div>
    </div>
  </div>
</div>

<br>

<h1 class="textForTittle">All our products</h1>
<hr class="style-one">

<div class="flexboxContainer">
    <div *ngFor="let product of productsService.allProductsList">
      <div class="row">
        <div class="flexboxItem">
          <div class="picturecontainer">
            <img src="{{product.image}}" class="picture" alt="">
          </div>
          <div class="centerEverything">
            <h4 class="letter">{{product.name}}</h4>
            <h4>{{product.price | currency}}</h4>
            <h4>Quantity: {{product.quantity}}</h4>
            <br>
            <button class="button1" (click)="productsService.clickProduct(product.id)">Add to cart </button>
          </div>
        </div>
      </div>
    </div>
</div>
