<div class="logoCont">
    <img class="logo" src="/../../assets//pictures/vendingmachine.png" alt="">
</div>

<ul>
    <li [routerLink]="['/home']" (click)="productsService.filterBest('Our Best Sellers')"><a>Home</a></li>
    <li [routerLink]="['/home']" (click)="productsService.filterByCategory('Lipstick')"><a >Lipsticks</a></li>
    <li [routerLink]="['/home']" (click)="productsService.filterByCategory('Mascara')"><a >Mascara</a></li>
    <li [routerLink]="['/home']" (click)="productsService.filterByCategory('Foundation')"><a >Foundation</a></li>
    <li [routerLink]="['/home']" (click)="productsService.filterByCategory('Eyebrow')"><a >Eyebrows</a></li>
    <li [routerLink]="['/home']" (click)="productsService.filterByCategory('Eyeliner')"><a  >Eyeliners</a></li>
    <li [routerLink]="['/home']" (click)="productsService.filterByCategory('Eyeshadow')"><a >Eyeshadows</a></li>
    <li class="user-info" *ngIf="userLogged == 'Log in'" [routerLink]="['/login']"><a>Sign-up</a></li>
    <li class="user-info" *ngIf="userLogged != 'Log in'" (click)="showDetails()"><a><i class="material-icons">perm_identity</i></a>
    </li>
</ul>

<div class="pop-user-info" *ngIf="userDetail">
  <a [routerLink]="['/profile']"><i class="material-icons">perm_identity</i>{{ userLogged | titlecase }}</a>
  <a><i class="material-icons">local_atm</i> {{ userCash | currency }}</a>
  <a [routerLink]="['/shoppingcart']"><i class="material-icons">local_grocery_store</i>View cart</a>
  <a (click)="clearLogin()"><i class="material-icons">meeting_room</i>Logout</a>
</div>
