

ul {
  font-family: sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  cursor: pointer;
}

li a:hover {
  background-color: pink;
}

.active {
  background-color: blanchedalmond;
}

.user-info {
  float: right;
  height: 28px;
}

div a:hover {
  cursor: pointer;
  background-color: pink;
}

.pop-user-info {
  position: absolute;
  right: 8px;
  /* padding: 25px 0; */
  background: #333;
  color: white;
}

.pop-user-info a {
  font-family: sans-serif;
  display: block;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}
