<app-menu> </app-menu>

<div class="bgPicture">
  <img class="bgPic" src="/../../assets//pictures/background/b5.jpg" alt="">
  <h1 class="textForTitle">Check Your Shopping Bag</h1>
  <hr class="style-one">

  <br>

  <table class="shoppingTable">


  <div>The items you selected are:</div>
  <br>
  <div class="flexboxContainer">
      <div style="border:2px" *ngFor="let product of productsService.shoppingCartList">

        <div class="row">
          <div class="flexboxItem">
            <div class="picturecontainer">
              <img src="{{product.image}}" class="picture" alt="">
            </div>
            <div class="centerEverything">
              <h4 class="letter">{{product.name}}</h4>
              <h4>{{product.price | currency}}</h4>

            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="textForPurchase">
      Your total amount is:
      <br>
      <div>{{totalPrice | currency}}</div>
  </div>

  <br><br>
  <div>Click the purchase button to validate your order!</div>
  <br><br>
  <div class="textForPurchase" >
      <button  class="purchaseButton" (click)="buy()">Purchase</button>
  </div>

  </table>
</div>

<br><br><br>
