
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: pink;
  }

 .active {
    background-color: blanchedalmond;
  }
  .picture_container {
    
         align-content: flex-end;
         justify-content: center;
         border: 2px solid red;
    
  }
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }

  .productContainer {
    max-width: 80%;
    max-height: 80%;
    border: 1px solid red;
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: 10%;
    background-color: rgb(187, 151, 176);
    justify-content:flex-start; 
    /*align-items: flex-start;*/
    /* align-content: flex-start; */
  }
  .flexboxContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin: auto;
    align-items: center;
  }

  .flexboxItem {
    /* border:1px solid black;     */
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;

  }


  .textForTittle{
      text-align: center;
      padding-top: 10%;
  }

 


  .picture{
      max-width: 200px ;
      height: 200px ;
      /* border: 2px solid green; */
      
  }
  .centerEverything{
      align-content: center;
      align-items: flex-end;
      /* border: 2px solid blue; */
      text-align: center;
  }
  .button1 {
    background-color:  palevioletred;
    color: antiquewhite;
    box-shadow:  0 6px 20px 0 rosybrown;
    padding: 1.5px;
    width: 50px;
    height: 25px;

   }
   .purchaseButton{
    background-color:  palevioletred;
    color: antiquewhite;
    box-shadow:  0 6px 20px 0 rosybrown;
    padding: 1.5px;
       margin: 10px;
       width: 80px;
       height: 30px;

   }

   .bannerPic{
      width: 100%;
       
   }

   hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    width: 1000px;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
   }
   .textForPurchase{
    text-align : center;
    
   }

   .amountButton{
       background-color:palevioletred;
       color: antiquewhite;
       width: 100px;
       height:50px;
       align-items: center;
       
       padding: 1.5px;
      
    

   }
   .textForAmount{
    text-align: center;
    padding-top: 10%;
    color: antiquewhite;
    background-color: palevioletred;
    
    align-items: center;

   }